.main-header {
	@include grid-container;
	background-color: $wdc-color-white;
	height: 60px;

	nav {
		@include grid-column( 12, $main-grid );
		display: flex;
	}

	.logo {
	}

	.main-navigation, .social {
		display: flex;
		justify-content: flex-end;
		margin-left: 20px;
	}

	.main-navigation {
		flex: 1 1 auto;

		a {
			line-height: 60px;
		}
	}

	.social {
	}

	li {
		margin-left: 10px;
	}
}