<header class="main-header">
	<nav>
		{{ the_custom_logo() }}
		{{ wp_nav_menu( {'theme_location': 'main', 'container': 'ul', 'menu_class': 'main-navigation'} ) }}
		{{ wp_nav_menu( {'theme_location': 'social', 'container': 'ul', 'menu_class': 'social', 'depth': 1} ) }}
	</nav>
</header>
{{ the_post_thumbnail('featured-image') }}